
<!--trending section-->
      <div class=" container-fluid d-flex flex-wrap ">
        <div class="card col-sm-12 col-md-4 col-lg-3" style="width: 18rem;" *ngFor ="let music of arrayTrend" >
           <img src="{{music.image[3]['#text']}}" class="card-img-top" alt="...">
           <div class="card-body">
             <h5 class="card-title">{{music.name}}</h5>
           </div>
           <ul class="list-group list-group-flush">
             <li class="list-group-item">Singer:{{music.artist.name}}</li>
             <li class="list-group-item">Listeners:{{music.listeners}}</li>
             <li class="list-group-item">Playcount :{{music.playcount}}</li>
           </ul>
           <div class="card-body">
             <a  class="btn btn-success card-link" href="{{music.url}}">Play</a>
             <a  class="btn btn-primary card-link" (click)="routeTodetail(music)" >Details</a>
             <a class="btn btn-warning card-link"(click)="addfav(music.name,music.artist,music.listeners,music.streamable,music.url,music.image)">Add to Fav</a>
           </div>
          </div>
          </div>
          <!--  -->