<div class=" container-fluid d-flex flex-wrap ">
  <div class="card col-sm-12 col-md-4 col-lg-3" style="width: 18rem;" *ngFor ="let music of arrayMusic" >
     <img src="{{music.image[3]['#text']}}" class="card-img-top" alt="...">
     <div class="card-body">
       <h5 class="card-title">{{music.name}}</h5>
     </div>
     <ul class="list-group list-group-flush">
       <li class="list-group-item">{{music.artist}}</li>
       <li class="list-group-item">{{music.listeners}}</li>
       <li class="list-group-item">{{music.streamable}}</li>
     </ul>
     <div class="card-body">
       <a  class="btn btn-success card-link" href="{{music.url}}">Play</a>
       <a class="btn btn-danger card-link" (click)="remove(music.id)">Remove</a>
       <a  class="btn btn-dark card-link" href="{{music.url}}">Details</a>
     </div>
    </div>
    </div>

