.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}


.jumbotron{

    padding: 0rem;
    min-height: 400px;
    border-radius: 0rem;
    margin-top: -1rem;

 }













